extends ../../lmuLayout

block content
  h1= title


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Instructions
      p Type up your solutions. For questions involving code, save your code in a JSFiddle and 
      | email me the JSFiddle URL as well as put the code in your hard copy.
      br
      br
      p Due September 8th

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p 1. Write a paragraph explaining your understanding of the difference between JavaScript and Java. 
        | Cite your sources.
      br

      p 2. Write a program which:
      p(class="indent") &#8226 asks the user what their favorite ice cream is. 
      p(class="indent") &#8226 and then proceeds to ask "Do you like [ice cream flavor] with a cone or cup"?
      p(class="indent") &#8226 Then reply to the user's answer with some response containing their flavor AND container preference.
      br

      p 3. What is the difference between undefined and null in JavaScript?
      br

      p 4. Write a program that changes the "a" in cat to "o"...."cat" &#8594 "cot"
      br

      p 5. What happens when you do try to change all instances of "e" in "Pioneer" to an "r" using the same methodology you 
        | used in problem 4?
      br

      p 6. How might you change your code to solve the problem you ran into with problem 5? (You don't have to create 
        | working code, just explain what you think might work).