extends ../../lmuLayout

block content
  h1= title


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Instructions
      p Type up your solutions.
      br
      p For questions involving code, save your code in 3 separate files: a .html file, 
        | a .css file and a .js file and email me a folder containing all three files. If your
        | file references are broken, I will not grade that portion of your code.
      br
      p For questions involving research, cite your sources.
      br
      p Make sure to test all arguments for valid input.
      p Points will be taken off for code that does not do what the question asked, for unclean code, and for 
        | code that accepts invalid input.
      br
      p Due November 12th

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p 1. Go to a page of your choice (a relatively complex page) and inspect the page with your DevTools. Find 5
        | HTML tags, look them up (W3Schools is useful). Then for each tag:
      p(class="indent") a. describe it in your own words and
      p(class="indent") b. list its built-in attributes and their meanings.
      p
        i You may not do: head, body, title, br, div, or p
      p Include the URL to the page you found.

      p 2. With the same page from problem 1, find 5 CSS property names, look them up (W3Schools is useful). 
        | Then for each property name:
      p(class="indent") a. describe it in your own words and
      p(class="indent") b. list 3 possible property values.
      p
        i You may not do: background, color, width, or height

      p 3. Create a webpage that describes you. Make sure to include:
      p(class="indent") a. At least one image
      p(class="indent") b. At least 5 facts about yourself. Organized in a fashion up to your discretion.
      p(class="indent") c. A table listing your class schedule (or some other tabular data if you don't
        | want to share your schedule)
      p(class="indent") d. A link to a webpage you find entertaining...appropriate web pages only
      p(class="indent")
        i Note: You want your link to show up as a word or image on your page, not the URL itself
      p(class="indent") e. A "2 truths and a lie" game. Meaning, you have 3 facts listed. They are all 
        | somehow clickable. When the user clicks on one fact, your page somehow displays whether they 
        |  were able to properly guess the lie or not. 
        b Use jQuery for this part.
      p(class="indent")
        i Have fun with this one! Make your page pretty so you can show it off to your mom!!
      br
      p 4. Read this 
        a(href="http://effectivesoftwaredesign.com/2012/02/05/separation-of-concerns/") article
        |  and explain in your own words why separation of concerns is important (1 paragraph). 
        | And how the separation of concerns is expressed in your development of problem 3 (1 more paragraph).