extends layout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2 Checkout my 
        a(href="http://github.com/haleyyoung" target="_blank" class="outside-link") GitHub 
        | account
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2 
        a(href="http://www.lizziedriver.com" target="_blank" class="outside-link") Lizzie Driver 
        | (Built by TechEmpower Inc.)
      p
        span(class="purple-text") Contribution: 
        | Lead front-end developer
      p
        span(class="purple-text") Technologies Used: 
        | We used Germini for the back-end; TechEmpower's in-house Java-based framework. 
        For the front-end we used Mustache templating, jQuery, Ajax, and Less.
      img(src="/images/lizzieDriver.png" alt="Lizzie Driver Screenshot" class="screenshot")
