extends ../../lmuLayout

block content
  h1= title

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Primitive Types
      p Java has 8 primitive types
      ul(class="indent")
        br
        p Signed
        li byte
        li short
        li int
        li long
        li float
        li double
        br
        p Unsigned
        li char
        br
        li boolean

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Variable Declarations
      p To declare a variable in Java, you must declare its type and its identifier
      p To initialize a variable, you then use a single equals sign and give the variable 
        | a value.
      p
        img(src="/images/cmsi186/variableDeclaration.png")
      p Java's built in 
        a(href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/_keywords.html" target="_blank") keywords
        |  and values cannot be used as variable names.


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Let's Write Some Code!
      img(src="/images/cmsi186/codeItOut1.png")


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Java Style
      p Please refernece this 
        a(href="https://google.github.io/styleguide/javaguide.html" target="_blank") style guide
        |  for Java's style specifications.
      p The big ones for now are:
        ol
          li The 80 or 100 column limit
          li Indentation
          li Line breaks
      br
      h2(class="project-title") Let's clean up some code
      p
        img(src="/images/cmsi186/cleanCode1.png")
      p
        img(src="/images/cmsi186/cleanCode2.png")