extends ../../lmuLayout

block content
  h1= title

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Primitive Types
      p Java has 8 primitive types
      ul(class="indent")
        br
        p Signed
        li byte
        li short
        li int
        li long
        li float
        li double
        br
        p Unsigned
        li char
        br
        li boolean

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Variable Declarations
      p To declare a variable in Java, you must declare its type and its identifier
      p To initialize a variable, you then use a single equals sign and give the variable 
        | a value.
      p
        img(src="/images/cmsi186/variableDeclaration.png")


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Let's Write Some Code!
      img(src="/images/cmsi186/codeItOut1.png")