extends ../../lmuLayout

block content
  h1= title

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") You have one minute to write down what Java 
        | types each value falls under:
      ol
        li 0.0000000000045395
        li m
        li 115
        li 123,456,789,101,111,213
        li -4
        li k
        li 32,768
        li -32,768
        li 44.3
        li -44.3
        li 5,026,999