extends ../../lmuLayout

block content
  h1= title


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Instructions
      p Type up your solutions. For questions involving code, save your code in a .java file and  
      | email me the file as well as put the code in your hard copy.
      br
      br
      p Due January 19th

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p 1. You've thrown a boomerang. You want to know how far 
        | away from you it traveled.
      p Write a program which contains two variables, a speed and 
        | a time (in seconds). The values of these variables are up to 
        | you. Your program should compute how far away from you the 
        | boomerang traveled given the speed it was traveling (assuming 
        | constant speed the whole time, yes it just magically turned around) 
        | and the amount of time it took 
        | to get back to you (your two variables). It should store this 
        | value in a new variable and then print the result of this 
        | computation out to your terminal/command prompt in a full sentence.
      br

      p 2. Write a program which converts Celsius to Fahrenheit. Again, 
        | you'll have one variable which represents a number in Celsius (not 
        | necessarily a whole number). 
        | Store your computation's result in a variable and then print 
        | the result out to your terminal/command prompt in a full sentence.