extends ../../lmuLayout

block content
  h1= title


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Instructions
      p Type up your solutions. For questions involving code, save your code in a .java file and  
      | email me the file as well as put the code in your hard copy.
      br
      br
      p Due January 14th

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p 1. What does it mean for a language to be statically typed?
      p(class="indent")
        | Cite your sources.
      br

      p 2. Write a program which prints this out to your terminal/command prompt:
      p(class="indent")
        img(src="/images/cmsi186/hw1problem2.png")