extends ../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p
        a(href="/cmsi186/courseNotes/intro") Java Installation and Hello World
      p
        a(href="/cmsi186/courseNotes/primitiveTypesAndVariableDeclaration") Primitive Types and Variable Declaration
      p
        a(href="/cmsi186/courseNotes/typeCasting") Type Casting
      p
        a(href="/cmsi186/courseNotes/controlStatements") Control Statements
      p
        a(href="/cmsi186/courseNotes/classesAndMethods") Classes and Methods
      p
        a(href="/cmsi186/courseNotes/packagesAndAccessModifiers") Packages