extends ../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.banner
    p Office hours are held in Doolan 112 on Thursdays 12:50 - 2:50pm
    p There are also TAs in the lab (Doolan 112) willing to help. Check the schedule in the lab for times.
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
