extends ../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2 CMSI 186
      h2 Programming Laboratory
      p TR 11:20am - 12:50pm &#8226 Doolan 112
      p Spring 2016 &#8226 Haley Young &#8226 haley.young@lmu.edu
      p Office Hours - Doolan 112 Thursdays 12:50pm - 2:50pm and by appointment

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Course Description 
      p This course is designed to be a laboratory course. The majority of the course will consist of: (1) a problem introduction 
        | and (2) lab days to work through the problem. The first month of the course will be an introduction to Java; the class 
        | structure will shift after this introduction.
      p Java is a statically-typed language meaning it is a compiled language. Java is extremely different from JavaScript. 
        | Although the basic concepts of "writing code" are the same, the syntax, semantics and capabilities of Java will 
        | take some time to get used to. This is what the first month of the course is for.
      p After the first month, we will be focusing on programming paradigms that are inherent to computer science. Among these 
        | are: "discrete simulation, algorithms for basic arithmetic, greedy and dynamic programming, iterative and recursive 
        | backtrack search, Riemann integration, randomized estimation, function plotting and event-driven programming" (
        a(href="http://my.cs.lmu.edu/~pdorin/186.html") Dr. Dorin's Syllabus
        | )
      p This is a 3 unit course, so students will be expected to spend at least 6 hours per week outside of class working 
        | on course content.
      p All course content will be posted on my website: haleyyoung.info/cmsi186
      h2(class="project-title") Learning Outcomes

      p By the end of this course, students will be able to:
        br
        | &#8226 write Java programs including those that use I/O, understand how to utilize Java's package structure, 
        | comprehend its control structure and namespace, create objects, understand the difference between constructors 
        | and static factories, create classes and class hierarchies, and understand Java inheritance.
        br
        | &#8226 recognize, implement, and utilize all of the programming paradigms covered throughout the semester
        br
        | &#8226 develop in a test driven manner (TDD)
        br
        | &#8226 write clean, reusable, DRY code

      p I would like this class to be a discussion-type experience. If you have a question, immediately ask. If you're 
        | not understanding the example I'm using, please ask for another, or for a different approach. Coming to class should 
        | be an interactive experience between your peers and myself.

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Prerequisites
      p The prerequisite for this course is CMSI 185 - Computer Programming. An equivalent may be used in place of 
        | CMSI 185, but this requires approval from the instructor.
   
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Assignments
      p During the Java introduction portion of the course, an assignment will be given every class. During the 
        | workshop portion of the course, an assignment will be given approximately every other week. You may work 
        | with a partner (explicitly one person) on your homework assignments, but if you do so, you must clearly 
        | state both names upon submission and all problems must be completed in a peer-programming manner. Do not 
        | split the problems between partners. Any deviation from these guidelines may result in a deduction of points 
        | or a score of zero up to the instructor's discretion.
      p Should there be any ambiguities in the assignment, either ask for clarification or include your assumption(s) 
        | in your lab report.
      p A lab report will be required in addition to the code for the assignment. This lab report should include hurdles
        | conquered (or not) during design and implementation, the intension of your test cases, and any known bugs as well as 
        | your assumptions.
      p Homework should be submitted via email by the beginning of the class as well as a hard copy brought into class. 
        | Late assignments will not be accepted.

      h2(class="project-title") Participation/Attendance
      p This is a laboratory course. Your education in this course will be highly dependent upon your attendance and 
        | participation in class. So come to class; be active and engaged.

      h2(class="project-title") Exams
      p Exams will be closed-book and hand-written. The midterm will be on February 25th and the final will be on 
        | May 3rd at 11:00am.

      h2(class="project-title") Grading
      p Participation 10%
        br
        | Assignments 50%
        br
        | Midterm 15%
        br
        | Final 25%

      br
      p The grading scheme will be as follows:
      p 100% - 93% A
        br
        | 92% - 90% A-
        br
        | 89% - 88% B+
        br
        | 87% - 83% B
        br
        | 82% - 80% B-
        br        
        | 79% - 78% C+
        br
        | 77% - 73 C%
        br
        | 72% - 70% C-
        br
        | ...and so on

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Academic Honesty
      p Academic dishonesty will be treated as an extremely serious matter with severe consequences that can
        | range from receiving no credit for assignments/tests, failing the class, to expulsion. It is never permissible 
        | to turn in any work that has not been authored by the student, such as work that has been copied from another student 
        | or copied from a source (including Internet) without properly acknowledging the source. It is your responsibility to 
        | make sure that your work meets the standard of academic honesty set forth in the “LMU Honor Code and Process” which 
        | appears in the LMU 
        a(href="http://bulletin.lmu.edu" target="_blank") Bulletin
      p Students who turn in work that is not their own will receive a zero on that assignment.

      h2(class="project-title") Special Accommodations
      p Students with special needs who require reasonable modifications, special assistance, or
        | accommodations in this course should promptly direct their request to the Disability Support Services (DSS) Office. Any
        | student who currently has a documented disability (ADHD, Autism Spectrum Disorder, Learning, Physical, or Psychiatric)
        | needing academic accommodations should contact the DSS Office (Daum Hall 2nd floor, 310-338-4216) as early in the
        | semester as possible. All discussions will remain confidential. Please visit 
        a(href="http://www.lmu.edu/dss" target="_blank") DSS 
        | for additional information.

      h2(class="project-title") Tentative Nature of the Syllabus
      p If necessary, this syllabus and its contents are subject to revision, students are responsible for any changes or 
        | modifications announced or distributed in class.