extends ../../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Examples
      p(class="indent") What comments could we add to each of these programs to make them 
        | easier to understand? And what changes could we make to the code to make it "better"?
      p(class="indent")
        img(src="/images/time.png")
        br
        a(href="https://jsfiddle.net/pfLwxsm8/" target="_blank") Code
      br
      p(class="indent")
        img(src="/images/fruits.png")
        br
        a(href="https://jsfiddle.net/fu681cc3/" target="_blank") Code
      br
      p(class="indent")
        img(src="/images/birthday.png")
        br
        a(href="https://jsfiddle.net/b35wc0jf/" target="_blank") Code

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Refactoring
      p(class="indent") Refactoring code is when we pull out repetitive parts of our code
        | and use it once instead of multiple times over.
      p(class="indent")
        img(src="/images/iceCream.png")
        br
        a(href="https://jsfiddle.net/o446wbak/" target="_blank") Code
      p(class="indent")
        img(src="/images/circleMath.jpg")
        br
        a(href="https://jsfiddle.net/1kxmh5ub/" target="_blank") Code
      p(class="indent")
        img(src="/images/ifToTernary.png")
        br
        a(href="http://jsfiddle.net/jcxhmzr4/" target="_blank") Code
      p(class="indent")
        img(src="/images/if.png")
        br
        a(href="https://jsfiddle.net/p0knu26j/" target="_blank") Code
      p(class="indent")
        img(src="/images/ifToSwitch.png")
        br
        a(href="https://jsfiddle.net/towoga8e/" target="_blank") Code


        






