extends ../../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Examples
      p(class="indent") What comments could we add to each of these programs to make them 
        | easier to understand? And what changes could we make to the code to make it "better"?
      p(class="indent")
        img(src="/images/time.png")
        br
        a(href="https://jsfiddle.net/pfLwxsm8/" target="_blank") Code
      br
      p(class="indent")
        img(src="/images/fruits.png")
        br
        a(href="https://jsfiddle.net/fu681cc3/" target="_blank") Code
      br
      p(class="indent")
        img(src="/images/birthday.png")
        br
        a(href="https://jsfiddle.net/b35wc0jf/" target="_blank") Code