extends ../../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") What is computer science?
      p Computer scientists concern themselves with:
      p(class="indent") &#8226 Which problems can we solve with computers?
      p(class="indent") &#8226 How efficient are our programs?
      p(class="indent") &#8226 How secure are our programs?
      p(class="indent") &#8226 How much storage are we using? Can we use less? How are we storing our data?

      p Software engineers
      p(class="indent") &#8226 Design and implement software systems

      p Computer Engineers
      p(class="indent") &#8226 Design and build digital systems

      p Information Technology
      p(class="indent") &#8226 Create and maintain infrastructure of systems

      p Information systems
      p(class="indent") &#8226 Use existing technologies to complete business tasks

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Software vs. Hardware
      p Hardware is the actual wires, transistors, and/or gates, memory chips etc. of any digital system
      p Software is the functioning code that makes the hardware device function on a malleable level

      h2(class="project-title") A Program
      p A program is a procedure written in a language a computer can comprehend

      h2(class="project-title") The components of a program:
      p(class="indent") &#8226 Variables
      p(class="indent") &#8226 Expressions
      p(class="indent") &#8226 Statements

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") How to run JavaScript
      p There are three ways we will run JavaScript in this class
      p(class="indent") &#8226 In the browser
      p(class="indent") javascript:alert("hello world")
      p(class="indent") &#8226 In a 
        a(href="http://javascript.cs.lmu.edu/runner" target="_blank") test page 
        | or 
        a(href="https://jsfiddle.net/" target="_blank") jsFiddle
      p(class="indent") &#8226 in a 
        a(href="http://www.squarefree.com/shell/" target="_blank") shell
      p(class="indent") &#8226 or as a script