extends ../../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p
        img(src= "../../images/computerScienceTimeline.jpg" alt="computer science timeline")
        a(href="http://www.worldsciencefestival.com/2013/12/a_history_of_computer_science/") Timeline