extends ../../lmuLayout

block content
  h1= title


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") What is recursion?
      p Recursion happens when something refers to sub-sets of itself.
      br
      p For example, a flower can have miniature flowers within it.
      br
      p In code, recursion can manifest itself by a function calling itself with new arguments.