doctype html
html
    head
        title example
        meta(charset="UTF-8")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script(src="/javascripts/unicornFunctionality.js" type="text/javascript")
        link(rel="stylesheet" href="/stylesheets/unicornStyles.css")
    body
        div(id="inner-content")
            h1 Did you know?
            img(src="/images/unicorn.png" alt="unicorn")
            p That unicorns are the best creatures!?
            p Why?
            ul
                li Because they have rainbow manes
                li They're magical
                li Their
                    a(href="http://www.instructables.com/id/Unicorn-Poop/" target="_blank") poop
                    |  is glittery
            p On a scale of 1 to 10, what would you rate unicorns at? 
                select(id="rating")
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5
                    option(value="6") 6
                    option(value="7") 7
                    option(value="8") 8
                    option(value="9") 9
                    option(value="10") 10