extends ../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p
        a(href="/cmsi185/courseNotes/intro") Introduction
      p
        a(href="/cmsi185/courseNotes/compSciJSIntro") What is computer science? and an Introduction to JavaScript
      p
        a(href="/cmsi185/courseNotes/dataTypesAndVariables") Data Types and Variables
      p
        a(href="/cmsi185/courseNotes/statements") Statements
      p
        a(href="/cmsi185/courseNotes/expressions") Expressions
      p
        a(href="/cmsi185/courseNotes/commentsAndCleanCode") Comments And Clean Code
      p
        a(href="/cmsi185/courseNotes/loops") Loops