extends ../lmuLayout

block content
  h1= title


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p 1. How well are you learning the course material?
      br
      p 2. What do you like about the course thus far?
      br
      p 3. What do you dislike about the course thus far?
      br
      p 4. What are your study habits for this course?
      br
      p 5. Have you reached out to me or other TAs for help outside of class time? If not, why not?
      br
      p 6. Are you satisfied with your performance in this course? If not, what can you do to 
        | improve? What can I do to help you improve?