extends ../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p
        a(href="/cmsi185/homework/1") Homework 1
      p
        a(href="/cmsi185/homework/2") Homework 2