extends ../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.banner
    p Office hours are held in Doolan 112 on Wednesdays and Thursdays 5:30 - 7:30pm
    p There are also TAs in the lab (Doolan 112) willing to help. Check the schedule in the lab for times.
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      p
        a(href="/cmsi185/homework/1") Homework 1
      p
        a(href="/cmsi185/homework/2") Homework 2
      p
        a(href="/cmsi185/homework/3") Homework 3
      p
        a(href="/cmsi185/homework/4") Homework 4
      p
        a(href="/cmsi185/homework/5") Homework 5