extends ../lmuLayout

block content
  h1= title
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2 CMSI 185
      h2 Computer Programming
      p TR 9:40 - 11:10am &#8226 Seaver 207
      p TR 11:20am - 12:50pm &#8226 Seaver 200
      p Fall 2015 &#8226 Haley Young &#8226 hyoung4@lion.lmu.edu
      p Office Hours - Doolan 112 Wednesdays and Thursdays 5:30pm - 7:30pm and by appointment

  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Course Description 
      p This course is designed to be an introductory programming course where students
        | are taught the foundational concepts involved in software development. No coding experience is required and 
        | students with coding experience will be encouraged to adopt good clean coding practices in this course.
      p This is a 3 unit course, so students will be expected to spend at least 6 hours per week outside of class working 
        | on course content.
      p All course content will be posted on my website: haleyyoung.info/lmuHome
      h2(class="project-title") Learning Outcomes

      p By the end of this course, students will be able to:
        br
        | &#8226 read and comprehend someone else's basic code and explain it to another person
        br
        | &#8226 construct and implement algorithms to solve simple problems
        br
        | &#8226 debug code effectively and efficiently
        br
        | &#8226 create clean, reusable, tested code
        br
        | &#8226 understand the basic design process involved in software development

      p I would like this class to be a discussion-type experience. If you have a question, immediately ask. If you're 
        | not understanding the example I'm using, please ask for another, or for a different approach. Coming to class should 
        | be an interactive experience between your peers and myself.

   
  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Assignments
      p There will be an assignment every one to two weeks. You may work with a partner on your homework assignments, 
        | but if you do so, you must clearly state both names upon submission and all problems must be completed in a 
        | peer-programming manner. Do not split the problems between partners.
      p Homework should be submitted via email by the beginning of the class as well as a hard copy brought into class. 
        |Late assignments will not be accepted. 

      h2(class="project-title") Participation/Attendance
      p I will monitor much of your understanding of the content of this course based on your 
        | participation in class. So come to class; be active and engaged.

      h2(class="project-title") Exams
      p Exams will be closed-book and hand-written. The midterm will be on October 22nd and the final will be on December 17th at 8am (9:40 class) and December 15th at 11:00am (11:20 class).

      h2(class="project-title") Grading
      p Participation 20%
        br
        | Assignments 40%
        br
        | Midterm 15%
        br
        | Final 25%

      br
      p The grading scheme will be as follows:
      p 100% - 93% A
        br
        | 92% - 90% A-
        br
        | 89% - 88% B+
        br
        | 87% - 83% B
        br
        | 82% - 80% B-
        br        
        | 79% - 78% C+
        br
        | 77% - 73 C%
        br
        | 72% - 70% C-
        br
        | ...and so on


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Schedule
      table
        tr 
          td Aug 31 - Sept 4
          td Introduction, history, hello world
            br
            | Primitive types, variables
        tr
          td Sep 7 - 11
          td Statements and Expressions
        tr
          td Sep 14 - 18
          td Expressions
        tr
          td Sep 21 - 25
          td Loops
            br
            | Arrays
        tr
          td Sep 28 - Oct 2
          td Objects
        tr
          td Oct 5 - 9
          td Objects
        tr
          td Oct 12 - 16
          td Functions, iteration
        tr
          td Oct 19 - 23
          td Midterm prep
            br
            | Midterm
        tr
          td Oct 26 - 30
          td Functions, recursion
            br
            | Unit testing
        tr
          td Nov 2 - 6
          td HTML, CSS, separation of concerns
            br
            | jQuery, clean code
        tr
          td Nov 9 - 13
          td Object-oriented programming
        tr
          td Nov 16 - 20
          td Prototypes
            br
            | Event-driven programming
        tr
          td Nov 23 - 27
          td Unit Testing and performance
        tr
          td Nov 30 - Dec 4
          td Advanced JavaScript
        tr
          td Dec 7 - 11
          td Exam prep


  div
  .panel.panel-default.content.project-div
    div
    .panel-body
      h2(class="project-title") Academic Honesty
      p Academic dishonesty will be treated as an extremely serious matter with severe consequences that can
        | range from receiving no credit for assignments/tests, failing the class, to expulsion. It is never permissible 
        | to turn in any work that has not been authored by the student, such as work that has been copied from another student 
        | or copied from a source (including Internet) without properly acknowledging the source. It is your responsibility to 
        | make sure that your work meets the standard of academic honesty set forth in the “LMU Honor Code and Process” which 
        | appears in the LMU 
        a(href="http://bulletin.lmu.edu" target="_blank") Bulletin
      p Students who turn in work that is not their own will receive a zero on that assignment.

      h2(class="project-title") Special Accommodations
      p Students with special needs who require reasonable modifications, special assistance, or
        | accommodations in this course should promptly direct their request to the Disability Support Services (DSS) Office. Any
        | student who currently has a documented disability (ADHD, Autism Spectrum Disorder, Learning, Physical, or Psychiatric)
        | needing academic accommodations should contact the DSS Office (Daum Hall 2nd floor, 310-338-4216) as early in the
        | semester as possible. All discussions will remain confidential. Please visit 
        a(href="http://www.lmu.edu/dss" target="_blank") DSS 
        | for additional information.

      h2(class="project-title") Tentative Nature of the Syllabus
      p If necessary, this syllabus and its contents are subject to revision, students are responsible for any changes or 
        | modifications announced or distributed in class.